<header>
	<figure><img src="{{asset('img/logo.png')}}" alt="" /></figure>
	<h1>CINE CLUB</h1>
	<nav>
		<ul>
			<li><a href="#">Recetas</a></li>
			<li><a href="#">Blog</a></li>
			<li><a href="#">Contacto</a></li>
		</ul>
	</nav>
</header>