<header id="header">
	<figure>
		<img src="{{asset('img/logo.png')}}" alt="" />
	</figure>
	<h1>CINE CLUB</h1>
	<nav>
		<ul>
			<li><a href="">Peliculas</a>
				<ul id="sub">
					<li><a href="">Altas</a></li>
					<li><a href="">Consulta</a></li>
				</ul>
			</li>
			<li><a href="">kjhkhkjh</a></li>
			<li><a href="">kjhkhkjh</a></li>
			<li><a href="">kjhkhkjh</a></li>
			<li><a href="{{url('logout')}}">Logout</a></li>
		</ul>
	</nav>
</header>