
body{
	font-size: 16px;

	font-family: 'Gochi Hand', cursive;  
}
footer{
	background-color: #604214;
	height: 50px;
	margin-top: 2px;
	text-align: center;
	line-height: 50px;
	color: #f7f7f7;
	font-size: 0.8em;
}
header{
	background-color: #604214;
	text-align: right;
}
header figure{
	float: left;
	margin-left:100px;
}
header figure img{
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
header h1{
	color: #f7f7f7;
	float: left;
	margin:7px 80px 0px 50px;
	padding: 0px;
	font-size: 1.6em;
	display: block;
}

header nav ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
	text-align: center;
}
header nav ul li{
	display: inline-block;

	height: 35px;
	margin: 10px 0px 0px 0px;
	width: 100%;
}
header nav ul li a{
	text-decoration: none;
	color: #f7f7f7;
	font-weight: bold;
	padding: 15px 25px;
}

section{
	width: 100%;
	display: inline-block;
}

@media screen and (min-width: 480px){
	header nav ul li{
		width: 22%;
		text-align: center;
	}
	
}
@media screen and (min-width: 767px){
	header nav ul li{
		width: 8%;
		margin: 10px 0px 0px 0px;
		text-align: center;
	}
	

	section article.receta{
		width: 40%;
		margin: 50px 3% 20px 6%;
	}

	div#InicioAncho{
		display: inline;
	}
}
@media screen and (min-width: 950px){
	
	section article.receta{
		width: 26%;
		margin: 50px 1% 20px 5%;
	}
	section div.news{
		display: inline;
	}

}