
body{
	font-size: 16px;
	font-family: 'Gochi Hand', cursive;  
}
#pie{
	background-color: #092462;
	height: 50px;
	margin-top: 2px;
	text-align: center;
	line-height: 50px;
	color: #f7f7f7;
	font-size: 0.8em;
}

#header{
	background-color: #092462;
	text-align: right;
	border: 1px solid;
}
#header figure{
	float: left;
	margin-left:100px;
}
#header figure img{
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
#header h1{
	color: #f7f7f7;
	float: left;
	margin:7px 80px 0px 50px;
	padding: 0px;
	font-size: 1.6em;
	display: block;
}

#header nav ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
	text-align: center;
}
#header nav ul li{
	display: inline-block;
	height: 55px;
	margin: 5px 0px 0px 0px;
}
#header nav ul li a {
	text-decoration: none;
	color: #f7f7f7;
	font-weight: bold;
	padding: 5px 25px;
	float: right;
	border: 1px solid;
}
/*#header nav ul li:hover {
    background:#E6344A;
}*/
#sub li a {
	display: none;
	position: relative;
	border: 1px solid;	
}

nav ul li:hover #sub li a{
	display: block;
	position: absolute;
	border: 1px solid;
}

nav ul li:hover li a{
	background-color: #69f; 
	border-bottom: 1px solid #fff; 
	color: #000;
}
/*
nav li ul li ul li a{
	display: none;
	position:relative;
}

nav li ul li ul li a {
	right:-140px;
	top:0px;
}
/*	
@media screen and (min-width: 480px){
	#header nav ul li{
		width: 22%;
		text-align: center;
	}

}
@media screen and (min-width: 767px){
	#header nav ul li{
		width: 8%;
		margin: 10px 0px 0px 0px;
		text-align: center;
	}	
}
@media screen and (min-width: 950px){
	.submenu{
	display: none;
}

}