#pelis{
	border: 1px solid;
	width: 100px;
	

}

label{
	display: block;
	padding: 8px;
	
}
img{
	float: right;

}

h3{
	display: inline-block;
	float: right;
}
#text{
	width: 80%;
	float: right;
}
#pel{
	width: 20%;
	padding: 10px;;
}